[submodule "Carthage/Checkouts/SwiftTask"]
	path = Carthage/Checkouts/SwiftTask
	url = https://github.com/ReactKit/SwiftTask.git
[submodule "Carthage/Checkouts/Async"]
	path = Carthage/Checkouts/Async
	url = https://github.com/duemunk/Async.git
